<?xml version="1.0"?>
<phpunit
	bootstrap="test/unit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="PDC POD Plugin Tests">
			<directory suffix=".php">./test/unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./admin/</directory>
			<directory suffix=".php">./includes/</directory>
			<directory suffix=".php">./front/</directory>
		</include>
		<exclude>
			<directory>./vendor/</directory>
			<directory>./node_modules/</directory>
		</exclude>
	</coverage>
</phpunit>
