/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.pdc-table {
	display: grid;
	grid-template-columns: 1fr;
}

.pdc-table .table-head {
	background: var(--wp-admin-theme-color-background-04);
}

.pdc-table .table-cell,
.pdc-table .table-head-col {
	padding: 16px 8px;
	border-bottom: 1px solid var(--wp-admin-theme-color-darker-20);
}

.pdc-table .table-head,
.pdc-table .table-row-contents {
	display: grid;
	grid-template-columns: 1fr 200px;
}

.woocommerce_options_panel input.autocomplete__input[type=text],
.woocommerce_options_panel .pdc_input_pdf[type="text"],
.woocommerce_variation .pdc_input_pdf[type="text"] {
	font-size: 14px;
	height: initial;
	width: 80%;
}

.woocommerce_variation input.autocomplete__input[type=text] {
	font-size: 14px;
}

li.autocomplete__option {
	font-size: 14px;
}

ul.autocomplete__menu {
	width: calc(80% - 2px);
	padding-right: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #c3c4c7;
	box-shadow: 0.6px 2.1px 1.8px rgba(0, 0, 0, 0.035),
		5px 17px 14px rgba(0, 0, 0, 0.07);
	position: absolute;
	top: 30px;
	max-height: 270px;
	z-index: 100;
}


.wp-core-ui a.button-select-pdf-file {
	margin-left: 5px;
}

.woocommerce_variation ul.autocomplete__menu {
	top: 40px;
}

.woocommerce_variation a.button-select-pdf-file {
	padding: 4px 10px 5px 10px;
}