.woocommerce_page_wc-orders div.pdc-table {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 0;
}

.pdc-table .table-foot {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f8f8f8;
}

.pdc-table .table-head {
	background: #f8f8f8;
	color: #999;
}

.pdc-table .table-cell-auto {
	flex: 1;
}

.pdc-table .table-cell,
.pdc-table .table-head-col {
	padding: 16px 8px;
	border-bottom: 1px solid #dfdfdf;
}

.pdc-table .table-foot .table-cell {
	border-bottom: none;
}

.pdc-table .table-head,
.pdc-table .table-row-contents {
	display: grid;
	grid-template-columns: 1fr 200px;
}

#pdc_order_meta_box .inside {
	margin: 0;
	padding: 0;
}

.pdc-ta .woocommerce_options_panel .pdc_input_pdf[type="text"],
.woocommerce_variation .pdc_input_pdf[type="text"] {
	font-size: 14px;
	height: initial;
	width: 80%;
}

.wp-core-ui a.button-select-pdf-file {
	margin-left: 5px;
}

.woocommerce_variation a.button-select-pdf-file {
	padding: 4px 10px 5px 10px;
}

.pdc-errormark {
	background: none;
	display: flex;
	align-items: center;
	visibility: hidden;
	justify-self: flex-end;
}

.pdc-errormark .dashicons {
	color: red;
	margin-right: 5px;
}

.pdc-errormark strong {
	display: block;
	color: #3c434a;
}

.pdc-errormark span {
	color: #999;
	max-height: 2.2rem;
	display: block;
	max-width: 400px;
	overflow: hidden;
}

.pdc-pod-settings {
	margin-top: 0;
}

.pdc-pod-settings .nav-tab-wrapper {
	margin: 0 -30px 24px -30px;
	padding-left: 30px;
	padding-right: 24px;
	background: #fff;
	border: none;
}

.pdc-pod-settings-head {
	margin: 0 0 0 -24px;
	padding: 20px 0 20px 24px;
	background: #fff;
}

.pdc-pod-settings-head strong {
	font-weight: 600;
    font-size: 16px;
    color: #070707;
}

.pdc-pod-settings .nav-tab {
	background: #fff;
	border: none;
}

.pdc-pod-settings .nav-tab:hover {
	color: var(--wp-admin-theme-color, #3858e9);
}

.pdc-pod-settings .nav-tab:first-child {
	margin-left: 0;
}

.pdc-pod-settings .nav-tab:active,
.pdc-pod-settings .nav-tab:focus {
	outline: 0;
	box-shadow: none;
}

.pdc-pod-settings .nav-tab-active {
	border-bottom: 2px solid var(--wp-admin-theme-color, #3858e9);
}
.pdc-table .pdc-item-error {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 0;
    padding: 4px;
    background: #ffe9e9;
    border-left: 2px solid #d94f4f;
}

.pdc-table .pdc-item-error-message {
	display: block;
	word-break: break-word;
}

.pdc-table .pdc-item-error-date {
	display: block;
	color: #999;
}

.pdc-table .pdc-item-error.is-unknown {
    background: #fdf6e3;
    border-left-color: #dba617;
}
